<h1>Activation de votre compte leblogdebatman.fr</h1>

<p>Bonjour, merci de votre inscription</p>
<p>Veuillez cliquer sur le lien ci-dessous</p>
<p><a href="{{ signedUrl|raw }}">{{ signedUrl|raw }}</a>.</p>
<p>Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</p>


<p>A bientot !</p>
