{% extends 'base.html.twig' %}

{% block title %}Nouvelle publication{% endblock %}

{% block body %}

    <div class="container-fluid">
        {# affichage des message flashes de type "success" si il y en a #}
        {% include 'partials/flashes/success.html.twig' %}

        <div class="row">
            <h1 class="col-12 text-center my-5"> Nouvelle publication</h1>
        </div>

        {# formulaire de création d'un nouvel article #}
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                {{ form(form) }}
            </div>
        </div>

    </div>

{% endblock %}
